[submodule "roles/drush"]
	path = roles/ansible-drush
	url = git@github.com:thecarlhall/ansible-drush.git
[submodule "roles/mariadb"]
	path = roles/ansible-mariadb
	url = git@github.com:thecarlhall/ansible-mariadb.git
[submodule "roles/php5-fpm"]
	path = roles/ansible-php5-fpm
	url = git@github.com:thecarlhall/ansible-php5-fpm.git
[submodule "roles/drupal"]
	path = roles/ansible-drupal
	url = git@github.com:thecarlhall/ansible-drupal.git
